<% if controller_name != "pages" %>

<div class="bh-nav-header">
  <div class="bh-nav-back">
    <%= link_to :back do %>
      <i class="fas fa-angle-left bh-nav-i"></i>
    <% end %>
  </div>

  <div>
    <h3 class="bh-nav-title"> <%= @header_title %> </h3>
  </div>

  <div class="signin">
    <% if user_signed_in? %>
      <%= link_to "<i class=\"las la-sign-out bh-nav-i\"></i>".html_safe, destroy_user_session_path, method: :delete, class: "bh-nav-i" %>
    <% else %>
      <%= link_to "<i class=\"las la-sign-in bh-nav-i\"></i>".html_safe, new_user_session_path, class: "bh-nav-i" %>
    <% end %>
  </div>
</div>

<% end %>
