.bh-nav-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;

  list-style-type: none;
  background-color: $bh-dark;
  width: 100vw;
  height: 52px;
  font-size: 22px;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.bh-pushdown-content {
  margin-top: calc(100vw - 52px);
}

// .bh-nav-footer-item::after {
//   content: attr(data-nav-text);
// }

.bh-nav-footer-item {
  flex: 1;
  p {
    margin: 0;
    padding-left: 12px;
  }
}

.bh-nav-footer-item div {
  display: flex;
  align-items: center;
  justify-content: center;

}

.bh-nav-footer-item a:hover,
.bh-nav-footer-item a:hover div i {
  color: #f49342;
  transition: 0.3s;
}

.bh-nav-footer-item a {
  color: white;
  // transition: 0.3s;
  &:link {
    color: white;
  }
}

// hide icon labels for phones
@media (max-width: 600px) {
  .bh-nav-footer-item a div p {
    display: none;
  }
}
