.vocab-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 8px;
  padding: 8px 12px;
  box-shadow: 0px 2px 8px -4px rgba(0,0,0,0.33);
  .vocab-item-content{
    padding-right: 8px;
  }
  i:hover {
      cursor: pointer;
  }
}

.vocab-card-right {
  display: flex;
  .vocab-delete {
    color:#b1b1b1;
  }
}
