
#chat-window-body {
  height: calc(100% - 98px);
  // height: 600px;
  margin: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.bh-chat-scrollbox {
  overflow-y: auto;
  // height: calc(100vh - 200px);
  width: 100vw;
  padding: 6px;
  padding-bottom: 0;
}

#messages {
  padding-top: 6px;
  height: calc(100vh - 200px);
}
